body {
    box-sizing: border-box;
    padding: 10px;
}

/*.container {*/
/*    border-radius: 5px;*/
/*    !*padding: 10px;*!*/
/*    width: 800px;*/
/*    height: 800px;*/
/*    background: #dafff4;*/
/*    position: relative;*/
/*}*/

.app {
    /*position: relative;*/
}

.table {
    width: 100%;
    height: 100px;
    /*display: flex;*/
}

.column {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
}

.resizable {
    position: absolute;
    border: 2px solid;
    width: 100%;
    height: 100px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 15px;
    min-height: 15px;
}

.resizer {
    position: absolute;
    background: black;
}


.resizer-r {
    cursor: col-resize;
    height: 100%;
    right: 0;
    top: 0;
    width: 5px;
}

.resizer-t {
    cursor: row-resize;
    height: 5px;
    left: 0;
    top: 0;
    width: 100%;
}

.resizer-b {
    cursor: inherit;
    height: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.resizer-l {
    /*cursor: col-resize;*/
    height: 100%;
    left: 0;
    top: 0;
    width: 5px;
}